$backgroundColors: "primary", "secondary", "transparent";
$iconColors: "primary", "secondary", "control";
$borderColors: "default", "focus";
$textColors: "primary", "secondary", "unnacented", "dangerous";
$textWeight: ("thin": 300, "regular": 400, "medium": 500, "bold": 700);
$borderRadius: ("none": "0", "n": "5px", "l": "10px");