*, *::before, *::after {
  box-sizing: border-box;
}

:focus { outline: none }

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid var(--border-focus-color);
  }
}

input, button {
  font: inherit;
  color: inherit;
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}