.theme-light {
  --background-primary-color: #11B3FE;
  --background-secondary-color: #F6F7F8;

  --icon-primary-color: #11B3FE;
  --icon-secondary-color: #F6F7F8;
  --icon-control-color: #80A2B6;

  --border-default-color: #E3EBEF;
  --border-focus-color: #C1D9E5;
  
  --text-primary-color: #282828;
  --text-secondary-color: #ffffff;
  --text-unnacented-color: #80A2B6;
  --text-dangerous-color: #E03F3F;

  --option-hover-color: #EAF1F7
}